# Next server

NODE_ENV=production
PORT=3002

# MYSQL
DB_HOST=localhost
DB_PORT=3306
DB_USER=freediving
DB_PASS=your_secure_password
DB_NAME=freediving

# For passwords
SESSION_SECRET=tWoCau6fzCcUV0kgUWSXeWX

# Cors
CORS_ORIGIN=https://fishly.kupfer.es

# Soon deprecated
USER_PASSWORD_NICO=password
USER_PASSWORD_ATHENA=password

# Optional: AI voice mode
# GEMINI_API_KEY=your_api_key_from_google_ai_studio