NODE_ENV=production
PORT=3002
FREEDIVING_DB_PATH=/var/www/freediving/data.db
SESSION_SECRET=tWoCau6fzCcUV0kgUWSXeWX
CORS_ORIGIN=https://fishly.kupfer.es
USER_PASSWORD_NICO=password
USER_PASSWORD_ATHENA=password